fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic-settings==2.7.1
sqlmodel==0.0.22

torch
torchvision
torchxrayvision
grad-cam

pydicom==3.0.1
Pillow
numpy
scikit-image
matplotlib

httpx==0.28.1
requests==2.32.3
anthropic==0.42.0
